@import "base/base";
@import "base/variables";
@import "layout/header";
@import "layout/nav";
@import "layout/philosophie";
@import "layout/quality";
@import "layout/jobs";
@import "layout/experience";
@import "layout/footer";

.testing {
  width: percentage(5/7);
  height: percentage(5/7);
  color: #000;
}

